#!/usr/bin/make -f
# debian/rules for mce using debhelper.
# Copyright © 2004-2011 Nokia Corporation and/or its subsidiary(-ies).

# Override default variant in Makefile
export VARIANT = maemo-leste

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

.PHONY: clean
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

#	$(MAKE) distclean

	dh_clean

.PHONY: check
check:
	# verify debian, rpm, and Makefile agree on sw version
	./verify_version

build-stamp:
	dh_testdir
	$(MAKE) -j6

	touch build-stamp

.PHONY: build
build: check build-stamp

.PHONY: install
install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install_main DESTDIR=debian/mce
	$(MAKE) install_tools DESTDIR=debian/mcetools

.PHONY: binary-indep
binary-indep:
#nothing to see here, move along

.PHONY: binary-arch
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
## QUARANTINE 	dh_installman
	dh_installchangelogs
	dh_install -s
	dh_installinit
	dh_installinit -r --no-start --name=zzinitdone -- start 99 2 3 4 5 . stop 00 0 1 2 3 4 5 6 .
	dh_strip --package=mce --dbg-package=mce-dbg
	dh_strip --package=mcetools --dbg-package=mcetools-dbg
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary
binary: binary-indep binary-arch
